.containerInputNewTasks {
  display: flex;
  justify-content: center;
  
}

.containerTasks {
  
  display: flex;
  flex-direction: column;
  max-width: 46rem;
  align-items: center;
  justify-content: center;
  margin: 5.5rem auto;
  gap: 1.5rem;
}

/* Adicione media queries para dispositivos menores */
@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

}
